.basic-header {
    height: 25em;
    background: #e5e5e5;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 2em;
  }

.basic-title__large {
    padding-top: 2.35em;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: bold;
    font-size: 140px;
    line-height: 59px;
    letter-spacing: -0.8px;

    color: #FFFFFF;
}

.basic-title__small {
    position: absolute;
    left: 45%;
    top: 7.1em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height, or 118% */
    letter-spacing: -0.8px;

    color: #000000;
}