.register-company {
    display: flex;
    width: 45%;
    margin: 0 auto;
}
.register-left {
    margin-right: 3em;
}

.register-right {
    flex: 1;
}

.register-actions {
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    align-items: center;
}

.register-link {
    margin-left: 4em; 
}

.register-text {
    text-align: center;
    padding-top: 1.5em;
}

